{% extends "base.html" %}
{% load static %}

{% block content%}
  
    <div class="site-blocks-cover overlay" style="background-image: url({% static 'images/hero_bg_3.jpg' %});" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-start">
          <div class="col-md-6 text-center text-md-left" data-aos="fade-up" data-aos-delay="400">
            <h1 class="bg-text-line">About Us</h1>
            <p class="mt-4">Rajputs Del Mundo literally translates to "Warriors Of The World." Read below to see our story.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section" data-aos="fade-up">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <img src="{% static 'images/about_1.jpg' %}" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-6 pl-md-5">
            <h2 class="text-black">About Rajputs Del Mundo</h2>
            <p class="lead">Our 11 a side team name was inspired by the owners, the fact that our team is so multicultural and includes players from many nationalities and ethnicities. We aim to bring the people of the world together and create unity through football but also give a chance for everyone to play the game they love competitively and be part of something special.</p>
            <p>We have players from England, France, the Carribean, Nigeria, Senegal, Poland, Serbia, Iraq, India, Pakistan, Fiji Islands, Saudi Arabia, Somalia, Algeria, Morocco, Iran, Australia, Indonesia, Portugal, Spain, Uganda, Cyprus, Colombia, Ivory Coast, Lebanon, Japan, Ghana...just to name a few!!!!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section" data-aos="fade-up">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 order-2">
            <img src="{% static 'images/about_2.jpg' %}" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-6 pr-md-5">
            <h2 class="text-black">Love for Football</h2>
            <p class="lead">Our love for the game is unparalleled and we have 7 managers/coaches and 4 teams who have played for years at different levels and clubs across about 80 registered players but ultimately our players are what makes this club so unique and we share a friendship circle across the teams.</p>
            <p>We also hold tournaments during the summer to get more players involved in the game and keep our teams fit for the upcoming season!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="slide-one-item owl-carousel">
      <div class="bg-image center overlay" style="background-image: url({% static 'images/hero_bg_1.jpg' %});"></div>
      <div class="bg-image center overlay" style="background-image: url({% static 'images/hero_bg_2.jpg' %});"></div>
      <div class="bg-image center overlay" style="background-image: url({% static 'images/hero_bg_3.jpg' %});"></div>
      <div class="bg-image center overlay" style="background-image: url({% static 'images/hero_bg_4.jpg' %});"></div>
    </div>

    <div class="site-section feature-blocks-1 no-margin-top">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12 text-center">
            <h2 class="text-black">Match Highlights</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4" data-aos="fade" data-aos-delay="100">
            <div class="p-3 p-md-5 feature-block-1 mb-5 mb-lg-0 bg" style="background-image: url({% static 'images/img_1.jpg' %});">
              <div class="text">
                <h2 class="h5 text-white">Russia's World Cup Championship</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos repellat autem illum nostrum sit distinctio!</p>
                <p class="mb-0"><a href="#" class="btn btn-primary btn-sm px-4 py-2 rounded-0">Read More</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4" data-aos="fade" data-aos-delay="200">
            <div class="p-3 p-md-5 feature-block-1 mb-5 mb-lg-0 bg" style="background-image: url({% static 'images/img_2.jpg' %});">
              <div class="text">
                <h2 class="h5 text-white">Russia's World Cup Championship</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos repellat autem illum nostrum sit distinctio!</p>
                <p class="mb-0"><a href="#" class="btn btn-primary btn-sm px-4 py-2 rounded-0">Read More</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4" data-aos="fade" data-aos-delay="300">
            <div class="p-3 p-md-5 feature-block-1 mb-5 mb-lg-0 bg" style="background-image: url({% static 'images/img_3.jpg' %});">
              <div class="text">
                <h2 class="h5 text-white">Russia's World Cup Championship</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos repellat autem illum nostrum sit distinctio!</p>
                <p class="mb-0"><a href="#" class="btn btn-primary btn-sm px-4 py-2 rounded-0">Read More</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}